body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


a {
  color: #00B7FF;
}

div {
  width: 400px;
  height: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
  background: white;
}

h1 {
  position: absolute;
  transform: rotate(90deg);
  left: 32%;
  bottom: -40%;
  font-size: 20em;
}
